<div class="">
  <p>
    <!--qui realizamos la llamada de todos los usuario-->
    Numero de Usuarios : {{users.length}}
  </p>
  <!-- es para esconder los datos -->
  <ul [hidden]="!show">
    <!--mostramos todos los datos  desde el componente-->
    <li *ngFor="let user of users; let i = index" (click)="displayUser(user)">
      index: {{i}}, User:{{user}}
    </li>
  </ul>
  <!-- para comprobar los datos que tiene el bugType-->
  <div [ngSwitch]="bugType">
    <p *ngSwitchDefault>Todo Bien</p>
    <p *ngSwitchCase="1">Bug de tipo 1</p>
    <p *ngSwitchCase="1">Bug de tipo 2</p>
  </div>
  <!-- realimos una comparacion de la cantidad de usuarios -->
  <p *ngIf="users.length >3">Hay mas de 3 Usuarios </p>
  <!-- para desabilitar un campo -->
  <input type="text" [disabled]="disabled">
  <br>
  <!-- para poner a la clase una estilo defino por el isBrand-->
  <div [class.brand]="isBrand">Clases Dinamica </div>
  <br>
  <!-- aqui realimos estilos dinamos con el isBrand y style-->
  <button [style.color]="isBrand ? 'white':'grey'">estilos Dinamicos </button>
  <div [ngStyle]="setStyles()">
    Div afectado por el ngstyle
  </div>
</div>
